header {
  background-color: #562b81;
  color: #fff;
  height: 5em;
  font-family: 'Proza Libre', sans-serif;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
}

#uploaded-img {
  max-width: 100%;
  height: auto;
}

#title,
#photo-url,
#notes {
  width: 100%;
}

#title,
#photo-url {
  height: 3em;
}

@media (min-width: 565px) {
  .column-full,
  .column-half {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .column-half {
    flex-basis: 50%;
  }
}

.h2 {
  font-size: x-large;
}

#submit {
  background-color: #562b81;
  color: #fff;
  height: 2rem;
}

.margin {
  margin: 20px 0;
}

[data-view='entries'] {
  padding: 0;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin-bottom: 1rem;
}

.savedImage {
  max-width: 50%;
  height: auto;
  margin-right: 1rem;
}

.h2Test,
.pTest {
  flex: 1;
}

.entriesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  margin-top: 2rem;
}

#new-entry-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #562b81;
  color: #fff;
  text-decoration: none;
}

#new-entry-link:visited {
  color: #fff;
}

#entries-link {
  color: #fff;
  font-size: medium;
  margin-right: 3rem;
  text-decoration: none;
}

#entries-link:visited {
  color: #fff;
}
